* {
    background-color: #F7F7F7;
    box-sizing: border-box;
}

body {
    margin: 0;
}

.App {
    background-size: cover;
    background-position: center;
}

.header {
    display: flex;
    grid-area: n;
    justify-content: space-between;    
    border-bottom: 2px solid black;
}

h1 {
    font-family: 'Libre Baskerville', serif;
}

.tagline {
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    text-align: center;
    margin-bottom: 50px;
}

.logo-container {
    display: flex;
    border-right: 2px solid black;    
    justify-content: center;
    align-items: center;
    left: 0;
    width: 80px; 
    height: 80px;
    grid-area: l;
}

.logo-image {
    display: block;   
    width: 40px;    
}

.app-container {
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(11, 1fr);
    grid-template-areas: 
        "n n n n"
        "c c c c"
        "c c c c"
        "c c c c"
        "c c c c"
        "c c c c"
        "c c c c"
        "c c c c"
        "c c c c"
        "c c c c"
        "c c c c";
}

.nav-container {   
    display: flex;
    align-items: center;
    height: 80px; 
}

.nav {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    height: 80px;
    letter-spacing: 1.25px;
    font-weight: 600;
    font-size: 16px;
    color: black;
    display: flex;
    width: 150px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    
}

.nav:hover {
    border-bottom: 1px solid black;
    opacity: .7;
    transition: 0.3s;    
}

.content {
    grid-area: c;
}

@media (max-width: 599px) {

    .header {
        width: 100%;
        height: 9.09vh;
        position: fixed;
        display: flex;
        grid-area: n;
        justify-content: space-between;
        border-bottom: 2px solid black;
        background-color: #F7F7F7;
        z-index: 1;
    }
  
    .nav-container {  
        height: 100%;
        display: flex;
        
    }

    .logo-container {       
        height: 100%;
        border: none;
    }

    .logo-image {
        display: block;   
        width: 40%;  
    }

    .nav {        
        font-size: 12px;
        height: 50px;
        width: 90px;
    }
}