
.bio-container {
    width: 1000px;
    margin: 0 auto;
    margin-top: 100px;   
}

.headshot-image {  
    width: 100%;   
}

@media (max-width: 1000px) {
    .bio-container {
        width: 90%;  
    }
}

@media (min-width: 600px) {

    .headshot-image-mobile {
        display: none;
        width: 100%;   
    }
}

@media (max-width: 600px) {
    .bio-container {
        width: 90%;
        
        margin: 0 auto;
        margin-top: 20px;
        
    }

    .headshot-image-mobile {
      
        width: 100%;   
    }

    .headshot-image {   
        display: none;       
    }
}