

h2 {
    font-family: 'Libre Baskerville', serif;
}

p {
    line-height: 2;
}

.about-header {
    text-align: center;
}

.bio-container {
    display: flex;
    width: 400px;
    margin: 0 auto;
}

.headshot-container {
    width: 15%;
    margin: 0 auto;
}

.headshot-image {
    width: 100%;
    border-radius: 10%;
}